*{
	margin: 0;
	padding: 0;
	outline: 0;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}
img{
	vertical-align: middle;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
}
.wrapper_full{
	width: 100%;
}
.wrapper{
	width: 920px;
	margin: 0 auto;
}
.clr{
	clear: both;
}
.menu_part{
	margin: 40px 0px;
}
.logo_part{
	width: 140px;
	float: left;
	margin-right: 162.5px;
}
.logo_part img{
	width:75px;
}
.main_menu{
  width: 440px;
  float: left;
  margin-left: 162.5px;
}
.main_menu ul{
	float: right;
}
.main_menu ul li{
	float: left;
	
}
.main_menu ul li a{
	font-family: 'Oswald', sans-serif;
	font-size: 12px;
	font-weight: 400px;
	display: block;
	color: #c3c3c3;
	padding: 0px 20px;

}

.main_menu ul li:last-child a {
  padding-right: 0px;
  margin-right: 0px;
}
.banner_part{
  background: url(../image/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.banner_content{
	text-align: center;
	padding-top: 170px;
}
.banner_content h3{
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	font-weight: 400;
	color: #303030;
	text-transform: uppercase;
	padding-bottom: 30px;
}
.banner_content p{
  font-family: 'Open-Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	font-style: italic;
	color: #9b9d9b;
	padding-bottom: 70px;
}
.banner_content a img{
	margin-bottom: 50px;
	border-radius: 50%;
}
.banner_content a img{
	transition: 0.4s;
}
.banner_content :hover a {
	box-shadow: 0 0 5px #000;
}
/*...................*/
.glr_part{
	margin: 50px 0px;
}
.common_heading{
	text-align: center;
}
.common_heading h3{
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: #303030;
	text-transform: uppercase;
}
.common_heading h3::after {
  display: block;
  content: '';
  width: 240px;
  height: 3px;
  background: #000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.common_heading p{
	 font-family: 'Open-Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #9b9d9b;
	padding-top: 30px;
	line-height: 1.6;
	margin-bottom: 20px;
}
.main_glr{
  margin:40px 0px;
  float: left;
  margin-bottom: 40px;
}
.main_glr ul{
	float: right;

}
.main_glr ul li{
	float: left;
	margin-right: 40px;
	margin-bottom: 40px;
}

/*5555555555555*/
.port_part{
	background: #f1f1f1;
	padding: 80px 0px;
}
.main_port{
	width: 210px;
	height: 210px;
	border: 1px solid #d5d5d5;
	float: left;
	position: relative;
	margin-top: 50px;
	margin-right: 15px;
	transition: 0.4s;
}
.main_port:hover{
	box-shadow: 0 0 5px #000;
		cursor: pointer;
}

.main_port a img{
   left: 50%;
   transform: translateX(-50%);
   position: absolute;
   margin-top: 25px;
   transition: 0.4s;
   border-radius: 50%;
}
.main_port a img:hover {
	box-shadow: 0 0 5px #000;
}
.port_content{

}
.port_content h3{
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #303030;
	text-transform: uppercase;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translateX(-50%);
	padding-bottom: 10px;
  
}
.port_content p{
	 font-family: 'Open-Sans', sans-serif;
	font-size: 12px;
	font-weight: 400;
	font-style: italic;
	color: #303030;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translateX(-50%);
	padding-top: 10px;
}
.port_icon{
	float: left;
}
.port_icon ul{
	float: right;
	margin-top: 175px;
	margin-left: 75px;
}
.port_icon ul li{
	float: left;
}
.port_icon ul li a{
	color: #7f7f7f;
	text-align: center;
	display: inline-block;
	padding-right: 10px;
	transition: 0.4s;
	border-radius: 50%;
}
.port_icon ul li:hover a{
	box-shadow: 0 0 5px #000;
	padding-right: 3px;
}
/*/*/**/*/*/
.map_part{
	margin: 40px 0px;
}
.main_map{
	width: 100%;
}
.map{
  margin-top: 40px;
  width: 340px;
  float: left;
}
.map h3{
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #303030;
	padding-bottom: 30px;
	color: #5a5a5a;
}
.map iframe{
	width: 320px;
	height: 320px;
}
.message_part{
	width: 550px;
	height: 230px;
	float: left;
	margin-left: 20px;
	display: block;
	margin-top: 40px;
	margin-bottom: 20px;
}
.message_part h3{
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #303030;
	padding-bottom: 30px;
	color: #5a5a5a;
}
.message_part textarea{
	width: 520px;
	height: 230px;
	float: left;
	display:inline-block;
}
.mail_part{
	margin: 20px 0px;
	width: 550px;
	float: left;
}
.text_part{
	width: 300px;
	float: left;
}
.text_part input{
	width: 300px;
	height: 58px;
	background: #f1f1f1;
}

.send_part{
	width: 200px;
	height: 60px;
	float: left;
	margin-left: 20px;
}

.button {
	width: 200px;
	height: 62px;
  border: none;
  color: #ffffff;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  background: #6995a9;
  transition: 0.4s;
}
.button i{
  padding-right: 5px;
} 

.send_part:hover .button{
  background: rebeccapurple;
}
/*,,,,,,,,,,,,,,,,,,,,,,*/
.footer_part{
	margin-top: 40px;
	background: url(../image/ftr.png);
	background-size: cover;
}
.main_ftr{
width: 100%;
margin: 10px 0px;
height: 90px;
}
.ftr1{

	width: 440px;
	float: left;
}
.ftr1 h3{
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #7b7b7b;
	padding: 30px 0;
}
.ftr2{
	width: 460px;
	float: right;
}
.ftr2 h3{
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #7b7b7b;
	text-align: center;
	float: right;
	margin-right: 33px;
	padding: 30px 0;
}